
<div class="container">
    <div class="forgot-password-container">
        <div class="forgot-password-card">
            <p class="msg" *ngIf="ok === 'SUCCESS'" style="color: rgb(23, 120, 23);">The reset password link was sent! Please verify your inbox!</p>
            <p class="msg" *ngIf="ok === 'ERROR'" style="color: red;">Something went wrong! Can't send an email to this address!</p>
            <div class="forgot-password-card-body">
                <div class="header-item">
                    <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
                </div>
                <div class="header-item">
                    <h2>Forgot Password</h2>
                </div>
                <p class="info-message">Please enter your registered email where<br> we will send you the reset password link</p>
                <form class="forgot-password-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <label for="email">Email</label>
                    <div class="form-group">
                        <input type="email" id="email" placeholder="Email Address" class="form-control" formControlName="email"/>
                        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                            <div *ngIf="email.errors?.['required']">Email is required</div>
                            <div *ngIf="email.errors?.['email']">Email should be valid</div>
                        </small>
                    </div>
                    <input type="submit" class="reset-button" value="Reset Password Link" [disabled]="resetForm.invalid" (click)="sendRequestForgotPassword()">
                </form>
            </div>
            <div class="forgot-password-card-footer">
                <small>I remember the password <a routerLink="../login">Back to Login</a></small>
            </div>
        </div>
    </div>
</div>
