<div class="container" *ngIf="status === 'initial' || status === 'fail'">
    <div class="login-container">
        <div class="login-card">
            <div class="login-card-body">
                <div class="header-item">
                    <h2>Change your password</h2>
                </div>
                <p class="info-message">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please type your new password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <label for="password">New password</label>
                    <div class="form-group">
                        <input type="password" id="password" placeholder="" class="form-control" formControlName="newPassword"
                            name="newPassword"/>
                        <small *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="block p-error">
                            <div *ngIf="newPassword.errors?.['required']">Password is required</div>
                        </small>
                        <div style="margin-top: 10px;">
                            Password must contain: <br>
                            <small *ngIf="newPassword.value === null || !newPassword.value.match('[A-Z]')" style="margin: 0; color: red"><i class="fa-solid fa-x"></i> at least 1 uppercase letter<br></small>
                            <small *ngIf="newPassword.value !== null && newPassword.value.match('[A-Z]')" style="margin: 0; color: green;"><i class="fa-solid fa-check"></i> at least 1 uppercase letter<br></small>
                            <small *ngIf="newPassword.value === null || !newPassword.value.match('[a-z]')" style="margin: 0; color:red"><i class="fa-solid fa-x"></i> at least 1 lowercase letter<br></small>
                            <small *ngIf="newPassword.value !== null && newPassword.value.match('[a-z]')" style="margin: 0; color: green;"><i class="fa-solid fa-check"></i> at least 1 lowercase letter<br></small>
                            <small *ngIf="newPassword.value === null || !newPassword.value.match('[0-9]')" style="margin: 0; color: red"><i class="fa-solid fa-x"></i> at least 1 digit<br></small>
                            <small *ngIf="newPassword.value !== null && newPassword.value.match('[0-9]')" style="margin: 0; color: green;"><i class="fa-solid fa-check"></i> at least 1 digit<br></small>
                            <small *ngIf="newPassword.value === null || 8 > newPassword.value.length" style="margin: 0; color: red"><i class="fa-solid fa-x"></i> at least 8 characters<br></small>
                            <small *ngIf="newPassword.value !== null && newPassword.value.length >= 8" style="margin: 0; color: green;"><i class="fa-solid fa-check"></i> at least 8 characters<br></small> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Retype new password</label>
                        <input type="password" id="retypedNewPassword" placeholder="" class="form-control"
                            formControlName="retypedNewPassword" name="retypedNewPassword" />
                        <small *ngIf="retypedNewPassword.invalid && (retypedNewPassword.dirty || retypedNewPassword.touched)" class="block p-error">
                            <div *ngIf="retypedNewPassword.errors?.['required']">Password is required</div>
                        </small>
                        <small style="color: red;">
                            <div *ngIf="retypedNewPassword.value !== null && retypedNewPassword.value !== '' && matchPass(newPassword.value, retypedNewPassword.value) === false">Passwords do not match</div>
                        </small>
                    </div>
                    <div *ngIf="status !== 'fail'">
                        <input *ngIf="matchPass(newPassword.value, retypedNewPassword.value) === true" type="submit" class="login-button" value="Change password" [disabled]="loginForm.invalid">
                        <input *ngIf="matchPass(newPassword.value, retypedNewPassword.value) === false" type="submit" class="login-button" value="Change password" disabled>
                    </div>
                </form>
                <button *ngIf="status === 'fail'" class="resend-button" (click)="resend()">Back to Forgot Password</button>
            </div>
        </div>
    </div>
</div>

<p-toast 
    [showTransformOptions]="'translateY(100%)'" 
    [showTransitionOptions]="'500ms'" 
    [hideTransitionOptions]="'1000ms'" 
    [showTransformOptions]="'translateX(100%)'"
    [life]="5000">
</p-toast>
