.container-functions{
    .header {
        width: 100vw;
        display: flex;
        flex-direction: row;
        // background: rgb(55,22,60);
        // background: rgb(255, 255, 255);
        // background: linear-gradient(180deg, rgba(55,22,60,1) 0%, rgba(34,25,32,1) 31%, rgba(32,25,30,1) 66%, rgba(29,26,26,1) 100%);
        background: linear-gradient(180deg, rgb(174, 170, 170) 0%, rgb(210, 207, 207) 31%, rgb(205, 201, 201) 66%, rgb(201, 197, 197) 100%);
        .logo {
            margin: 10px;
            margin-right: 20px;
        }

        .action-list {
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .action {
                margin: 20px;
                display: flex;
                flex-direction: row;
                .button {
                    justify-content: center;
                    font-size: 1.1em;
                    font-weight: bold;
                    width: 10vw;
                    height: 5vh;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    transition: .1s ease-in;
                    cursor: pointer;
                }
                .button:hover {
                    background: #6d44b8;
                }
                .account-button {
                    border: none;
                    background-color: inherit;
                    margin-right: 25px;
                    #account-img {
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                    }
                }
                
            }
            .action:last-of-type {
                margin-left: auto;
                margin-right: 35px;
            }
            .action-search-bar {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px;
                .search-box {
                    width: 15vw;
                    height: 4vh;
                    border-radius: 10px 0px 0px 10px;
                    border-right-style: none;
                    border-bottom-style: solid;
                    border-color: White;
                    font-size: 1.1em;
                    padding-left: 10px;
                    outline: none;
                }
                .search-button {
                    height: 4vh;
                    align-items: center;
                    border: none;
                    border-radius: 0px 10px 10px 0px;
                    background: #3f51b5;
                    cursor: pointer;
                    #search-img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
        
    }
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: flex-start;
    height: 80%;
    .side-nav-bar {
        width: 20%;
        height: 100%;
        p {
            font-weight: bolder;
            font-size: large;
            text-align: center;
            color: #bab6b6;
            margin-top: 1rem;
        }
        padding-right: 3rem;
        aside {
            color: #ffffff;
            width: 100%;
            padding-left: 1rem;
            height: 92%;
            // background-color: #64287490;
            background-color: rgba(182, 171, 183, 0.528);
            border-radius: 20px;
            display: flex;
            position: relative;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: thin;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
          
        aside .collName {
            font-size: x-large;
            margin: 0.2rem 0;
            color: #000000;
            display: block;
            padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            text-decoration: none;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            color: #343131;
            background: #b9b6b6;
            -webkit-tap-highlight-color: transparent;
        }
        
        aside .collName:hover {
            // color: #ffffff;
            background: #a2a1a1;
            outline: none;
            position: relative;
            // background-color: #856285;
            // background-color: #cdc5cd;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            cursor: pointer;
        }
        
        // aside div:hover::after {
        //     content: "";
        //     position: absolute;
        //     background-color: transparent;
        //     bottom: 100%;
        //     right: 0;
        //     height: 35px;
        //     width: 35px;
        //     // border-bottom-right-radius: 18px;
        //     box-shadow: 0 20px 0 0 #fff;
        // }
        
        // aside div:hover::before {
        //     content: "";
        //     position: absolute;
        //     background-color: transparent;
        //     top: 38px;
        //     right: 0;
        //     height: 35px;
        //     width: 35px;
        //     // border-top-right-radius: 18px;
        //     box-shadow: 0 -20px 0 0 #fff;
        // }
    }
}

.collections {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    margin-right: 3rem;
    .collection-container {
        // box-shadow: 2px 4px 4px 10px rgba(145, 35, 157, 0.2), 0 6px 20px 0 #ab17d03e;
        box-shadow: 2px 4px 4px 10px rgba(172, 165, 172, 0.288), 0 6px 20px 0 #726b733e;
        display: flex;
        height: 75vh;
        flex-direction: column;
        border-radius: 25px;

        width: 100%;
        .collection-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0 0px 0;
            
            .collection-name {
                margin: 0 25px 0 25px;
                text-align: start;
                font-size: x-large;
                font-weight: 600;
                // color: #fff;
                color:#151313;
            }
            .edit-collection-button {
                margin: 0 10px 0 auto;
            }
            .delete-collection-button {
                margin: 0 10px 0 0;
            }
        }
        
        .collection-description {
            border-bottom: solid;
            border-bottom-color: #ababab;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            p {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                margin: 0 150px 10px 25px;
                text-align: start;
                // color:#bab6b6;
                color:#000000;
            }
        }
       
        .container-xl {
            width: 100%;
            height: 100%;
            .row {
                width: 100%;
                height: 100%;
                margin: 0;
            }
        }        
    }
}

.thumb-content {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
    .name-and-fav {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       h4 {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            // color:#bab6b6;
            color:#040303;
       }
       .favorite-button {
           padding: 6px 0 0 0;
           outline: none;
           .fav {
               width: 35px;
               height: 35px;
               border: none;
               font-size: 35px;
               outline: none;
           }
       }
   }
   .card-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        // color:#9b9898;
        color:#474343;
        margin-bottom: 3px;
   }
}

.carousel {
	margin: 30px auto 60px;
	padding: 0 80px;
    width: 100%;
    height: 80%;
}

.img-box {
    height: 60%;
    width: 100%;
    padding: 10px;
    .img-fluid {
        width: 100%;
        height: 28vh;
        border-radius: 15px;
        background-color: #fff;
    }
}

.carousel-inner {
    height: 100%;
    position: relative;
    z-index: 1;
}

.col-sm-4 {
    height: 100%;
}

.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
    height: 100%;
}

.carousel .carousel-item h4 {
	font-family: 'Varela Round', sans-serif;
}
.carousel .carousel-item img {
	max-width: 100%;
	display: inline-block;
}
.carousel .carousel-item .btn {
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background: #a177ff;
	padding: 6px 15px;
	margin-top: 5px;
}
.carousel .carousel-item .btn:hover {
	background: #8c5bff;
}
.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .thumb-wrapper {
    position: relative;
	margin: 5px;
	text-align: left;
	// background: #ba7dba58;
	// box-shadow: 0px 0px 5px 5px rgba(87, 24, 110, 0.138);
	background: #d4cfcf17;
	box-shadow: 0px 0px 5px 5px rgba(103, 102, 104, 0.138);
    width: 100%;
    height: 98%;
    border-radius: 15px;
}

.carousel .thumb-content {
	padding: 15px;
	font-size: 13px;
    height: 40%;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 44px;
	background: none;	
	margin: auto 0;
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.8);
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators div, .carousel-indicators div.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border: none;
}
.carousel-indicators div {	
	background: #555;
    cursor: pointer;
}
.carousel-indicators div.active {	
	background: #ababab;
}

.resource-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    .resource-button {
        margin: 0 2px 0 2px;
    }   
    .resource-button:nth-last-of-type(2) {
        margin-left: auto;
    }
}

.cdk-global-scrollblock{
    position: static !important;
    width: initial !important;
    overflow-y: inherit !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: none;
    }
    .container-xl {
        max-width: none;
    }
}

@media (min-width: 768px) {
    .col-md-10 {
        max-width: none;
        display: contents;
    }
}


