<div class="container-functions">
    <div class="header">
        <div class="logo">
            <img src="../../assets/logo-6.png" alt="Logo image">
        </div>
        <div class="action-list">
            <div class="action">
                <button mat-raised-button (click)="addResource()" style="background-color: #6d1d7b; color: #ffffff; height: 3rem; outline:none;">Upload & embed<mat-icon>add_circle_outline</mat-icon></button>
            </div>

            <div class="action">
                <button mat-raised-button (click)="tryExtraction()" style="background-color: #6d1d7b; color: #ffffff; height: 3rem; outline:none;">Try to extract<mat-icon>image_search</mat-icon></button>
            </div>
            
            <div class="action">
                <div class="user-box" style="display: flex; flex-direction: row; padding: 0.1rem 0.1rem 0.1rem 1rem; border-radius: 25px 50px 50px 25px; border-style: solid; border-color: #6d1d7b;">
                    <div class="user" style="color: #000000; text-align: center; align-self: center; margin: 0;">
                        <p style="margin: 0; padding-right: 1rem; font-size: larger;">{{fullName}}</p>
                        <p style="margin: 0; padding-right: 1rem; font-size: large; color: #474343;">{{email}}</p>
                    </div>
                    <button mat-fab matTooltip="Primary" #tooltip="matTooltip"
                        matTooltip="Account"
                        matTooltipPosition="below" color="primary" aria-label="Example fab with a heart icon" [matMenuTriggerFor]="belowMenuForAccountButton"
                        style="background-color: #6d1d7b;"
                        >
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #belowMenuForAccountButton="matMenu" yPosition="below">
                        <button mat-menu-item (click)="logout()">
                            <div style="display: flex; flex-direction: row;">
                                <i class="fa-solid fa-right-from-bracket fa-2x" style="color: #ff0000; padding-right: 10px;"></i>
                                <p style="width: 100%; margin: 4px 0 0 0; color: red; text-align: center;">Logout</p>
                            </div>
                        </button>
                        <button mat-menu-item (click)="changePassword()">
                            <div style="display: flex; flex-direction: row;">
                                <i class="fa fa-key fa-2x" aria-hidden="true" style="color: #6d1d7b; padding-right: 10px;"></i>
                                <p style="width: 100%; margin: 4px 0 0 0; text-align: center;">Change Password</p>
                            </div>
                        </button>

                        <button mat-menu-item (click)="editUser()">
                            <div style="display: flex; flex-direction: row;">
                                <i class="fas fa-edit fa-2x" style="color: #6d1d7b; padding-right: 10px;"></i>
                                <p style="width: 100%; margin: 4px 0 0 0;  text-align: center;">Edit profile</p>
                            </div>
                        </button>
                        <button mat-menu-item (click)="deleteAccount()">
                            <div style="display: flex; flex-direction: row;">
                                <i class="fa-solid fa-user-minus fa-2x" style="color: #ff0000; padding-right: 10px;"></i>
                                <p style="width: 100%; margin: 4px 0 0 0; color: red; text-align: center;">Delete account</p>
                            </div>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="side-nav-bar">
        <p> Collections {{currentCollIndex}} / {{collectionResources.length}}</p>
        <aside *ngIf="this.existsAnyCollection === true">
            <div *ngFor="let coll of collectionResources">
                <div class="collName" (click)="selectCollectionToDisplay(coll)" *ngIf="coll.collectionDTO.name === currentCollection.name" 
                    style="background-color: #87848d; border-top-left-radius: 20px; border-bottom-left-radius: 20px; color: black;">
                    <i class="fa-solid fa-caret-right"></i>   {{coll.collectionDTO.name}}
                </div>
                <div class="collName" (click)="selectCollectionToDisplay(coll)" *ngIf="coll.collectionDTO.name !== currentCollection.name">
                    {{coll.collectionDTO.name}}
                </div>
            </div>
        </aside>
        <aside *ngIf="this.existsAnyCollection === false && this.timing === true" style="padding: 0;">
            <p style="height: 100%; text-align: center; color: #73669a; margin-top: 2rem;">Your new <br> collections <br> will be <br> listed here. </p>
        </aside>
    </div>
    
    <div class="collections" *ngIf="this.existsAnyCollection === true">
        <div class="collection-container" *ngIf="refreshed === true">
            <div class="collection-header">
                <p class="collection-name">{{currentCollection.name?.substring(0, 40)}}</p>
                <button class="see-more" style="margin: 0 0 3px 0;" *ngIf="this.currentCollection.name !== '' && (this.currentCollection.name?.length || 0) > 40" (click)="seeMore(currentCollection.name)">... see more</button>
                <div class="dates">
                    <p>Created at {{currentCollection.createdAt}}</p>
                    <p *ngIf="currentCollection.modifiedAt !== null">Last modified at {{currentCollection.modifiedAt}}</p>
                </div>
                <button #tooltip="matTooltip"
                matTooltip="Edit collection" class="edit-collection-button" (click)="updateCollection(this.currentCollection.name || '', this.currentCollection.description || '')" style="background-color: inherit; border: none; outline: none;"><i class="fa-solid fa-pen" style="color: #B197FC;"></i></button>
                <button #tooltip="matTooltip"
                matTooltip="Delete collection" class="delete-collection-button" (click)="deleteCollection(this.currentCollection.name || '')" style="background-color: inherit; border: none; outline: none;"><i class="fa-solid fa-trash" style="color: #9c5e5e;"></i></button>
            </div>
            <div class="collection-description">
                <p *ngIf="this.currentCollection.description !== ''" class="card-description">{{currentCollection.description?.substring(0, 40)}}</p>
                <button class="see-more" *ngIf="this.currentCollection.description !== '' && (this.currentCollection.description?.length || 0) > 40" (click)="seeMore(currentCollection.description)">... see more</button>
                <p *ngIf="this.currentCollection.description === ''" class="card-description">No description</p>                                    
            </div>
            <div class="container-xl">
                <div class="row" style="width: 100%;">
                    <div class="col-md-10" style="margin: 0; width: 100%;">
                        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="0">
                            
                            <div class="carousel-indicators">
                                <div data-target="#carousel" attr.data-slide-to={{bigI}} class="active" id="active"></div>
                                <div data-target="#carousel" attr.data-slide-to={{number}} *ngFor="let number of numberOfSlides" id="indicator"></div>
                            </div>
                            
                            <div class="carousel-inner">
                                <div class="carousel-item active" *ngIf="refreshed === true" id="principal">
                                    <div class="row">
                                        <div class="col-sm-4" *ngFor="let index of matrix[0]">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img *ngIf="this.resources[index].imageBytes !== ''" [src]='this.resources[index].imageBytes' class="img-fluid" alt="Image">
                                                    <div *ngIf="this.resources[index].imageBytes === '' && ready === true" class="spinner-img-alt">
                                                        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
                                                    </div>
                                                </div>
                                                <div class="thumb-content">
                                                    <div class="name-and-fav">
                                                        <h4 matTooltip="{{this.resources[index].name}}" matTooltipPosition="above">{{this.resources[index].name?.substring(0, 30)}}<span *ngIf="(this.resources[index].name?.length || 0) > 30">...</span> </h4>
                                                        <button (click)="downloadImage(this.resources[index].imageBytes, (this.resources[index].name || 'image') + '.' + this.resources[index].type?.toLowerCase(), ('image/' + this.resources[index].type).toLowerCase() || 'image/png')" style="background-color: inherit; outline: none; border: none; margin: 0;">
                                                            <i #tooltip="matTooltip"
                                                            matTooltip="Download"
                                                            matTooltipPosition="left" class="fa-solid fa-download fa-2x" style="color: #88857c;"></i>
                                                        </button>
                                                    </div>
                                                    <div class="resource-dates">
                                                        <p>Created at {{resources[index].createdAt}}</p>
                                                        <p *ngIf="resources[index].modifiedAt !== null">Modified at {{resources[index].modifiedAt}}</p>
                                                    </div>
                                                    <p *ngIf="this.resources[index].description !== ''" class="card-description">{{this.resources[index].description?.substring(0, 85)}}
                                                        <button class="see-more" *ngIf="this.resources[index].description !== '' && (this.resources[index].description?.length || 0) > 85" (click)="seeMore(this.resources[index].description)">... see more</button>
                                                    </p>
                            
                                                    <p *ngIf="this.resources[index].description === ''" class="card-description">No description</p>
                                                    <div class="resource-buttons">
                                                        <button mat-mini-fab #tooltip="matTooltip"
                                                        matTooltip="Extract secret"
                                                        color="primary" class="resource-button" style="width: 35%; border-radius: 5px; background-color: #6d1d7b;" (click)="extractKey(currentCollection.name, this.resources[index].name, this.resources[index].imageBytes)"><mat-icon>vpn_key</mat-icon><p style="margin: 0; padding: 0 0 0 10px; font-weight: bold; align-content: center;">Extract</p></button>
                                                        <button #tooltip="matTooltip"
                                                        matTooltip="Edit resource" class="resource-button" (click)="editResource(currentCollection.name, this.resources[index].name, this.resources[index].imageBytes)" style="background-color: inherit; border: none; outline: none;"><i class="fa-solid fa-pen fa-2x" style="color: #73669a;"></i></button>
                                                        <button #tooltip="matTooltip"
                                                        matTooltip="Delete resource" class="resource-button" (click)="deleteResource(currentCollection.name || '', this.resources[index].name || '')" style="background-color: inherit; border: none; outline: none;" ><i class="fa-solid fa-trash fa-2x" style="color: #751717;"></i></button>
                                                    </div>
                                                </div>						
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" *ngFor="let number of numberOfSlides">
                                    <div class="row">
                                        <div class="col-sm-4" *ngFor="let index of matrix[number]">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img *ngIf="this.resources[index].imageBytes !== ''" [src]='this.resources[index].imageBytes' class="img-fluid" alt="Image">
                                                    <div *ngIf="this.resources[index].imageBytes === '' && ready === true" class="spinner-img-alt">
                                                        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
                                                    </div>
                                                </div>
                                                <div class="thumb-content">
                                                    <div class="name-and-fav">
                                                        <h4 matTooltip="{{this.resources[index].name}}" matTooltipPosition="above">{{this.resources[index].name?.substring(0, 30)}}<span *ngIf="(this.resources[index].name?.length || 0) > 30">...</span> </h4>
                                                        <button (click)="downloadImage(this.resources[index].imageBytes, (this.resources[index].name || 'image') + '.' + this.resources[index].type?.toLowerCase(), ('image/' + this.resources[index].type).toLowerCase() || 'image/png')" style="background-color: inherit; outline: none; border: none; margin: 0;">
                                                            <i #tooltip="matTooltip"
                                                            matTooltip="Download"
                                                            matTooltipPosition="left" class="fa-solid fa-download fa-2x" style="color: #88857c;"></i>
                                                        </button>
                                                    </div>
                                                    <div class="resource-dates">
                                                        <p>Created at {{resources[index].createdAt}}</p>
                                                        <p *ngIf="resources[index].modifiedAt !== null">Modified at {{resources[index].modifiedAt}}</p>
                                                    </div>
                                                    <p *ngIf="this.resources[index].description !== ''" class="card-description">{{this.resources[index].description?.substring(0, 85)}}
                                                        <button class="see-more" *ngIf="this.resources[index].description !== '' && (this.resources[index].description?.length || 0) > 85" (click)="seeMore(this.resources[index].description)">... see more</button>
                                                    </p>
                                                    <p *ngIf="this.resources[index].description === ''" class="card-description">No description</p>
                                                    <div class="resource-buttons">
                                                        <button mat-mini-fab #tooltip="matTooltip"
                                                        matTooltip="Extract secret"
                                                        color="primary" class="resource-button" style="width: 35%; border-radius: 5px; background-color: #6d1d7b;" (click)="extractKey(currentCollection.name, this.resources[index].name, this.resources[index].imageBytes)"><mat-icon>vpn_key</mat-icon><p style="margin: 0; padding: 0 0 0 10px; font-weight: bold; align-content: center;">Extract</p></button>
                                                        <button #tooltip="matTooltip"
                                                        matTooltip="Edit resource" class="resource-button" (click)="editResource(currentCollection.name, this.resources[index].name, this.resources[index].imageBytes)" style="background-color: inherit; border: none; outline: none;"><i class="fa-solid fa-pen fa-2x" style="color: #73669a;"></i></button>
                                                        <button #tooltip="matTooltip"
                                                        matTooltip="Delete resource" class="resource-button" (click)="deleteResource(currentCollection.name || '', this.resources[index].name || '')" style="background-color: inherit; border: none; outline: none;"><i class="fa-solid fa-trash fa-2x" style="color: #751717;"></i></button>
                                                    </div>
                                                </div>						
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <a *ngIf="resources.length > 3" class="carousel-control-prev" href="#carousel" data-slide="prev" style="border: none; outline: none;" (click)="left()">
                                <i class="fa-solid fa-angle-left" style="color: #c2bcd2;"></i>
                            </a>
                            <a *ngIf="resources.length > 3" class="carousel-control-next" href="#carousel" data-slide="next" style="border: none; outline: none;" (click)="right()">
                                <i class="fa-solid fa-angle-right" style="color: #c2bcd2;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collections" *ngIf="this.existsAnyCollection === false && this.timing === true">
        <h2 class="title-about">About StegoVault</h2>
        <p style="font-size: large;">StegoVault helps you to keep your secrets in a safe manner. Due to the relative security of the classic encryption methods, steganography offers an additional layer of security by hiding your secret's existence in images.</p>
        <p style="font-size: large;">If you do not feel safe saving the images that carry your confidential data,  the application offers a way to download and keep it locally. At any time, you can upload again and search for the embedded secret. </p>
        <h2 class="title-about">Steganographic algorithms</h2>
        <ul>
            <li>LSB Replacement</li>
            <p>LSB Replacement hides a secret by replacing the least significant bit of each pixel.</p>
            <li>LSB Matching</li>
            <p>Compared to LSB Replacement, LSB Matching hides a secret by replacing the least significant bit of each pixel by subtracting or adding 1 when the algorithm meets an unmatch.</p>
            <li>LSB Matching Revisited</li>
            <p>The LSB Matching Revisited hides two secret bits in two consecutive pixels by modifying only one. It is an improved algorithm that uses a mathematical equation to make the hiding process possible.</p>
            <li>Binary Hamming Codes</li>
            <p>It is a powerful algorithm based on the principles of Hamming Code. The primary objective is to minimize the amount of changes a picture must undergo during the hiding process.</p>
            <li>Random Pixel And Bit Selection</li>
            <p>Random Pixel And Bit Selection selects the pixels used for the hiding procedure at random to boost security. It also maintains a great concealing capacity.</p>
            <li>Multi Bit Plane</li>
            <p>Multi Bit Plane maintains a high degree of imperceptibility by only hiding the secret in noisy regions of an image and its capacity depends on the uploaded image.</p>
        </ul>
    </div>
    
</div>

<p-toast  
    [showTransitionOptions]="'500ms'" 
    [hideTransitionOptions]="'1000ms'" 
    [life]="2000"
    [position]="'top-center'">
</p-toast>
