<div class="container-functions">
    <div class="header">
        <div class="logo">
            <img src="../../assets/logo-6.png" alt="Logo image">
        </div>
        <div class="action-list">
            <div class="action">
                <button mat-raised-button (click)="addResource()" style="background-color: #6d1d7b; color: #ffffff; height: 3rem;">Upload & embed<mat-icon>add_circle_outline</mat-icon></button>
            </div>
            
            <div class="action">
                <div class="user-box" style="display: flex; flex-direction: row; padding: 0.1rem 0.1rem 0.1rem 1rem; border-radius: 25px 50px 50px 25px; border-style: solid; border-color: #6d1d7b;">
                    <div class="user" style="color: #c2bcd2; text-align: center; align-self: center; margin: 0;">
                        <p style="margin: 0; padding-right: 1rem; font-size: larger;">{{email}}</p>
                    </div>
                    <button mat-fab matTooltip="Primary" #tooltip="matTooltip"
                        matTooltip="Account"
                        matTooltipPosition="below" color="primary" aria-label="Example fab with a heart icon" [matMenuTriggerFor]="belowMenuForAccountButton"
                        style="background-color: #6d1d7b;"
                        >
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #belowMenuForAccountButton="matMenu" yPosition="below">
                        <!-- <div class="user-info" style="padding: 10px; border-bottom-style: solid; border-bottom-color: slateblue;">
                            <div class="user-name" style="display: flex; flex-direction: row; margin-bottom: 10px;">
                                <i class="fa-solid fa-user fa-2x" style="padding-right: 10px;"></i>
                                <p style="margin: 4px 0 0 0; width: 100%; text-align: left;">Daniel Cirlan</p>
                            </div>
                            <div class="user-email" style="display: flex; flex-direction: row; margin-bottom: 10px;">
                                <i class="fa-solid fa-at fa-2x" style="padding-right: 10px;"></i>
                                <p style="margin: 4px 0 0 0; width: 100%; text-align: left;">{{email}}</p>
                            </div>
                        </div> -->
                        <button mat-menu-item (click)="logout()">
                            <div style="display: flex; flex-direction: row;">
                                <i class="fa-solid fa-right-from-bracket fa-2x" style="color: #ff0000; padding-right: 10px;"></i>
                                <p style="width: 100%; margin: 4px 0 0 0; color: red; text-align: center;">Logout</p>
                            </div>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="side-nav-bar">
        <p> Collections </p>
        <aside>
            <div *ngFor="let coll of collectionResources">
                <div class="collName" (click)="selectCollectionToDisplay(coll)" *ngIf="coll.collectionDTO.name === currentCollection.name" style="background-color: #B197FC; border-top-left-radius: 20px; border-bottom-left-radius: 20px; color: black;">
                    {{coll.collectionDTO.name}}
                </div>
                <div class="collName" (click)="selectCollectionToDisplay(coll)" *ngIf="coll.collectionDTO.name !== currentCollection.name">
                    {{coll.collectionDTO.name}}
                </div>
            </div>
        </aside>
    </div>
    
    <div class="collections">
        <div class="collection-container">
            <div class="collection-header">
                <p class="collection-name">{{currentCollection.name}}</p>
                <button #tooltip="matTooltip"
                matTooltip="Edit collection" class="edit-collection-button" (click)="editCollection()" style="background-color: inherit; border: none;"><i class="fa-solid fa-pen" style="color: #B197FC;"></i></button>
                <button #tooltip="matTooltip"
                matTooltip="Delete collection" class="delete-collection-button" (click)="deleteCollection()" style="background-color: inherit; border: none;"><i class="fa-solid fa-trash" style="color: #9c5e5e;"></i></button>
            </div>
            <div class="collection-description">
                <p *ngIf="this.currentCollection.description !== ''" class="card-description">{{currentCollection.description}}</p>
                <p *ngIf="this.currentCollection.description === ''" class="card-description">No description</p>                                    
            </div>
            <div class="container-xl">
                <div class="row" style="width: 100%;">
                    <div class="col-md-10" style="margin: 0; width: 100%;">
                        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="0">
                            
                            <div class="carousel-indicators">
                                <div data-target="#carousel" data-slide-to=0 class="active"></div>
                                <div data-target="#carousel" attr.data-slide-to={{number}} *ngFor="let number of numberOfSlides"></div>
                            </div>
                            
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-sm-4" *ngFor="let index of matrix[0]">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img [src]='this.resources[index].imageBytes' class="img-fluid" alt="Image">
                                                </div>
                                                <div class="thumb-content">
                                                    <div class="name-and-fav">
                                                        <h4>{{this.resources[index].name}}</h4>
                                                        <button (click)="saveResource()" style="background-color: inherit; border: none; margin: 0;">
                                                            <i #tooltip="matTooltip"
                                                            matTooltip="Unsave"
                                                            matTooltipPosition="left" *ngIf="this.resources[index].saved" class="fa-solid fa-bookmark fa-2x" style="color: #FFD43B;"></i>
                                                            <i #tooltip="matTooltip"
                                                            matTooltip="Save"
                                                            matTooltipPosition="left" *ngIf="!this.resources[index].saved" class="fa-regular fa-bookmark fa-2x" style="color: #adaca9;"></i>
                                                        </button>
                                                    </div>
                                                    <p *ngIf="this.resources[index].description !== ''" class="card-description">{{this.resources[index].description}}</p>
                                                    <p *ngIf="this.resources[index].description === ''" class="card-description">No description</p>
                                                    <div class="resource-buttons">
                                                        <button mat-mini-fab #tooltip="matTooltip"
                                                        matTooltip="Extract key"
                                                        color="primary" class="resource-button" style="width: 35%; border-radius: 5px; background-color: #6d1d7b;" (click)="extractKey(currentCollection.name, this.resources[index].name, this.resources[index].imageBytes)"><mat-icon>vpn_key</mat-icon><p style="margin: 0; padding: 0 0 0 10px; font-weight: bold; align-content: center;">Extract</p></button>
                                                        <button #tooltip="matTooltip"
                                                        matTooltip="Edit resource" class="resource-button" (click)="editResource(currentCollection.name, this.resources[index].name, this.resources[index].imageBytes)" style="background-color: inherit; border: none;"><i class="fa-solid fa-pen fa-2x" style="color: #73669a;"></i></button>
                                                        <button #tooltip="matTooltip"
                                                        matTooltip="Delete resource" class="resource-button" (click)="deleteResource()" style="background-color: inherit; border: none;"><i class="fa-solid fa-trash fa-2x" style="color: #751717;"></i></button>
                                                    </div>
                                                </div>						
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" *ngFor="let number of numberOfSlides">
                                    <div class="row">
                                        <div class="col-sm-4" *ngFor="let index of matrix[number]">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src={{this.resources[index].imageBytes}} class="img-fluid" alt="Image">
                                                </div>
                                                <div class="thumb-content">
                                                    <div class="name-and-fav">
                                                        <h4>{{this.resources[index].name}}</h4>
                                                        <button (click)="saveResource()" style="background-color: inherit; border: none; margin: 0;">
                                                            <i #tooltip="matTooltip"
                                                            matTooltip="Unsave"
                                                            matTooltipPosition="left" *ngIf="this.resources[index].saved" class="fa-solid fa-bookmark fa-2x" style="color: #FFD43B;"></i>
                                                            <i #tooltip="matTooltip"
                                                            matTooltip="Save"
                                                            matTooltipPosition="left" *ngIf="!this.resources[index].saved" class="fa-regular fa-bookmark fa-2x" style="color: #adaca9;"></i>
                                                        </button>
                                                    </div>
                                                    <p *ngIf="this.resources[index].description !== ''" class="card-description">{{this.resources[index].description}}</p>
                                                    <p *ngIf="this.resources[index].description === ''" class="card-description">No description</p>
                                                    <div class="resource-buttons">
                                                        <button mat-mini-fab #tooltip="matTooltip"
                                                        matTooltip="Extract key"
                                                        color="primary" class="resource-button" style="width: 35%; border-radius: 5px; background-color: #6d1d7b;" (click)="extractKey(currentCollection.name, this.resources[index].name, this.resources[index].imageBytes)"><mat-icon>vpn_key</mat-icon><p style="margin: 0; padding: 0 0 0 10px; font-weight: bold; align-content: center;">Extract</p></button>
                                                        <button #tooltip="matTooltip"
                                                        matTooltip="Edit resource" class="resource-button" (click)="editResource(currentCollection.name, this.resources[index].name, this.resources[index].imageBytes)" style="background-color: inherit; border: none;"><i class="fa-solid fa-pen fa-2x" style="color: #73669a;"></i></button>
                                                        <button #tooltip="matTooltip"
                                                        matTooltip="Delete resource" class="resource-button" (click)="deleteResource()" style="background-color: inherit; border: none;"><i class="fa-solid fa-trash fa-2x" style="color: #751717;"></i></button>
                                                    </div>
                                                </div>						
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <a *ngIf="resources.length > 3" class="carousel-control-prev" href="#carousel" data-slide="prev" style="border: none;">
                                <i class="fa-solid fa-angle-left" style="color: #c2bcd2;"></i>
                            </a>
                            <a *ngIf="resources.length > 3" class="carousel-control-next" href="#carousel" data-slide="next" style="border: none;">
                                <i class="fa-solid fa-angle-right" style="color: #c2bcd2;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<p-toast  
    [showTransitionOptions]="'500ms'" 
    [hideTransitionOptions]="'1000ms'" 
    [life]="2000"
    [position]="'top-center'">
</p-toast>






            <!-- <div class="action-search-bar">
                <input type="text"
                    placeholder="Resource name..."
                    aria-label="Text"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto"
                    class="search-box">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}<mat-icon *ngIf="option === 'One'">collections</mat-icon>
                        <mat-icon *ngIf="option !== 'One'">image</mat-icon>
                    </mat-option>
                </mat-autocomplete>
                <button mat-button #tooltip="matTooltip"
                matTooltip="Search"
                matTooltipPosition="right"
                class="search-button"><mat-icon>search</mat-icon></button>
            </div> -->