.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  // .mat-horizontal-stepper-header .mat-step-icon-selected {
  //   background-color: #6d1d7b !important;
  // }
  // .mat-step-icon-selected {
  //   background-color: #6d1d7b !important;
  // }

  

.upload-dialog {
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    
    mat-stepper {
      width: 100% !important;
      height: 100% !important;
    
      .first-step-container {
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        overflow: hidden !important; 

        input[type="file"] {
          display: none;
        }
        .custom-file-upload {
          // word-wrap: break-word;
          width: 50%;
          height: 50%;
          border: 1px solid #ccc;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 6px 12px;
          cursor: pointer;
          background-color: grayscale($color: #c8c8c8);
          border-radius: 25px;
          font-weight: bold;
          i {
            margin-bottom: 5px;
          }
        }
        .stepper-button-box {
          width: 20%;
          .step-button {
            background-color: #6d1d7b;  
          }
          .step-button:disabled {
            background-color: slategray;
          }
        }
      }
      .second-step-container {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        label {
          margin: 0;
          color: lightslategray;
          font-size: medium;
        }
        .collection {
          margin: 15px 0 15px 0;
          width: 35%;
          .select-collection {
            display: flex;
            flex-direction: column;
            #selectCollectionButton {
              width: 100%;
            }
          }
          .create-collection {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-style: solid;
            border-color: #6d1d7b;
            border-radius: 10px;
            // margin: 30px;
            padding: 10px;
            .create-collection-input {
              width: 100%;
              margin-bottom: 10px;
              
              #collection {
                width: 100%;
              }
            }
            .collectiondescription {
              // margin: 15px 0 15px 0;
              width: 100%;
              // height: 20%;
              margin-bottom: 10px;
              #collectionDescription {
                height: 100%;
              }
            }
          }
        }
        .filename {
          margin: 15px 0 15px 0;
          width: 35%;
          display: flex;
          flex-direction: column;
        }
        .filedescription {
          margin: 15px 0 15px 0;
          width: 35%;
          display: flex;
          flex-direction: column;
        }
        .algorithm {
          margin: 15px 0 15px 0;
          width: 35%;
          #selectAlgorithmButton {
            width: 100%;
          }
        }
        .message {
          margin: 15px 0 60px 0;
          width: 50%;
          height: 20%;
          #secretToEmbed {
            height: 100%;
          }
        }
        .stepper-button-box {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 50%;
          .step-button {
            background-color: #6d1d7b;  
          }
          .step-button:disabled {
            background-color: slategray;
          }
        }
      }
      .third-step-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        p {
          text-align: center;
          font-weight: bold;
          font-size: larger;
          margin: 5;
        }
        div {
          margin: 180px;
        }
        // div:last-of-type {
        //   margin-top: auto;
        //   display: flex;
        //   flex-direction: row;
        //   justify-content: space-around;
        //   align-items: center;
        //   // margin-right: 35px;
        // }
        .stepper-button-box {
          // display: flex;
          // flex-direction: row;
          // justify-content: space-around;
          margin: auto 0 180px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          .step-button {
            background-color: #6d1d7b;  
          }
          .step-button:disabled {
            background-color: slategray;
          }
        }
      }
    }
    
}

.cdk-overlay-pane {
  width: 50vw;
}

// .details {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;
//   width: 100%;
//   height: 80%;
//   .collection-and-filename {
//     display: flex;
//     flex-direction: column;
//     justify-content:baseline;
//     align-items: center;
//     width: 45%;
//     height: 100%;
//     border: solid;
//     border-radius: 10px;
//     border-color: #c8c8c8;
//     .select-collection {
//       height: 40%;
//       width: 100%;
//     }
//     .create-collection {
//       height: 40%;
//       width: 100%;
//     }
//     .filename {
//       // height: 20%;
//       width: 90%;
//       // padding: 10px;
//     }
//   }
//   .algorithm-and-message {
//     display: flex;
//     flex-direction: column;
//     justify-content: baseline;
//     align-items: center;
//     width: 45%;
//     height: 100%;
//     border: solid;
//     border-radius: 10px;
//     border-color: #c8c8c8;
//     .select-algorithm {
//       height: 40%;
//       width: 100%;
//     }
//     .message {
//       height: 40%;
//       width: 90%;
//       mat-form-field {
//         height: 100%;
//         width: 100%;
//       }
//     }
//   }
//   h4 {
//     margin-top: 5px;
//   }
// }