.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  

.upload-dialog {
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    
    mat-stepper {
      width: 100% !important;
      height: 100% !important;
    
      .first-step-container {
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        overflow: hidden !important; 

        input[type="file"] {
          display: none;
        }
        .custom-file-upload {
          width: 50%;
          height: 50%;
          border: 1px solid #ccc;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 6px 12px;
          cursor: pointer;
          background-color: grayscale($color: #c8c8c8);
          border-radius: 25px;
          font-weight: bold;
          i {
            margin-bottom: 5px;
          }
        }
        .stepper-button-box {
          width: 20%;
          .step-button {
            background-color: #6d1d7b;  
          }
          .step-button:disabled {
            background-color: slategray;
          }
        }
      }
      .second-step-container {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        label {
          margin: 0;
          color: lightslategray;
          font-size: medium;
        }
        .collection {
          margin: 15px 0 15px 0;
          width: 35%;
          .select-collection {
            display: flex;
            flex-direction: column;
            #selectCollectionButton {
              width: 100%;
            }
          }
          .create-collection {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-style: solid;
            border-color: #6d1d7b;
            border-radius: 10px;
            padding: 10px;
            .create-collection-input {
              width: 100%;
              margin-bottom: 10px;
              
              #collection {
                width: 100%;
              }
            }
            .collectiondescription {
              width: 100%;
              margin-bottom: 10px;
              #collectionDescription {
                height: 100%;
              }
            }
          }
        }
        .filename {
          margin: 15px 0 15px 0;
          width: 35%;
          display: flex;
          flex-direction: column;
        }
        .filedescription {
          margin: 15px 0 15px 0;
          width: 35%;
          display: flex;
          flex-direction: column;
        }
        .algorithm {
          margin: 15px 0 15px 0;
          width: 35%;
          #selectAlgorithmButton {
            width: 100%;
          }
        }
        .message {
          margin: 15px 0 60px 0;
          width: 50%;
          height: 20%;
          #secretToEmbed {
            height: 100%;
          }
        }
        .stepper-button-box {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 50%;
          .step-button {
            background-color: #6d1d7b;  
          }
          .step-button:disabled {
            background-color: slategray;
          }
        }
      }
      .third-step-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        p {
          text-align: center;
          font-weight: bold;
          font-size: larger;
          margin: 5;
        }
        div {
          margin: 180px;
        }
        .stepper-button-box {
          margin: auto 0 180px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          .step-button {
            background-color: #6d1d7b;  
          }
          .step-button:disabled {
            background-color: slategray;
          }
        }
      }
    }
    
}

.cdk-overlay-pane {
  width: 50vw;
}
