<div class="container">
    <div class="not-found-container">
        <div class="not-found-container-box">
            <div class="box">
                <h2>404 Not Found</h2>
                <div class="error-details">
                    This page could not be found!
                </div>
                <div class="error-action">
                    <button routerLink="/" class="button">Take Me Home</button>
                </div>
                <div class="video">
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/1vrEljMfXYo?si=G5NL8IbxiPwkE-oc" frameborder="0" allowfullscreen></iframe> -->
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/1vrEljMfXYo?si=G5NL8IbxiPwkE-oc&autoplay=1;start=2" title="YouTube video player" frameborder="0" allowfullscreen></iframe> -->
                </div>
            </div>
        </div>
    </div>
</div>


