<div class="container">
    <div class="not-found-container">
        <div class="not-found-container-box">
            <div class="box">
                <h2>404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-action">
                    <button routerLink="/" class="button">Take Me Home</button>
                </div>
            </div>
        </div>
    </div>
</div>