
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.mat-mdc-menu-panel {
    height: 23vh !important;
  }

.mat-horizontal-stepper-wrapper {
    width: 100% !important;
    height: 100% !important;
    .mat-horizontal-content-container {
        width: 100% !important;
        height: 100% !important;
        
        .mat-horizontal-stepper-content:not(.mat-horizontal-stepper-content-inactive) {
            width: 100% !important;
            height: 100% !important;        
            form {
                width: 100% !important;
                height: 100% !important;        
            }
        }
    }
}

.mat-mdc-checkbox label {
    margin: 0 !important;
}