
<div class="container-dialog">
    <div class="resource">
        <img [src]='this.imageBytes' alt="Image">
    </div>
    <div class="info-resource" [formGroup]="formGroup">
        <div class="field">
            <h1>Edit resource</h1>
        </div>
        <div class="field">
            <label for="fileName">Type a new name</label>
            <input type="text" 
                id="fileName" 
                placeholder="New file name" 
                class="form-control" 
                formControlName="fileName"
                name="fileName" value="this.formGroup['fileName'].value"/>
        </div>
        
        <div class="field">
            <label for="description">New description</label>
            <textarea type="text" 
                id="description" 
                placeholder="New description" 
                class="form-control" 
                formControlName="description"
                name="description"></textarea>
        </div>

        <div class="field">
            <label for="algorithm">Choose a new algorithm</label>
            <div>
                <button id="algorithm" mat-raised-button [matMenuTriggerFor]="algorithmMenu">{{this.formGroup.controls['algorithm'].value}}<mat-icon>flash_on</mat-icon></button>
                <mat-menu #algorithmMenu="matMenu">
                    <button mat-menu-item *ngFor="let algorithm of algorithms" (click)="setAlgorithm(algorithm)">{{algorithm}}</button>
                </mat-menu>
            </div>
        </div>

        <div class="field">
            <label for="secretToEmbed">New secret to embed</label>
            <textarea type="text" id="secretToEmbed" placeholder="Secret to embed" class="form-control" formControlName="secretToEmbed"
                        name="secretToEmbed"></textarea>    
        </div>

        <div class="buttons">
            <button *ngIf="this.disabled === false" class="step-button" mat-button (click)="onCloseDialog()">Cancel</button>
            <button *ngIf="this.disabled === true" class="step-button" mat-button (click)="onCloseDialog()" disabled>Cancel</button>
            <button *ngIf="this.disabled === false" class="step-button" mat-button (click)="editResource()">Save</button>
            <button *ngIf="this.disabled === true" class="step-button" mat-button (click)="editResource()" disabled>Updating...</button>
        </div>
    
    </div>
</div>

<p-toast  
    [showTransitionOptions]="'500ms'" 
    [hideTransitionOptions]="'1000ms'" 
    [life]="2000"
    [position]="'top-center'">
</p-toast>