
<div class="container-dialog">
    <div class="resource">
        <img [src]='this.imageBytes' alt="Image">
    </div>
    <div class="info-resource" [formGroup]="formGroup">
        <div class="field">
            <h1>Edit resource</h1>
        </div>
        <div class="field">
            <label for="fileName">Type a new name <span *ngIf="(getName()?.length || 0) <= 100" style="color:green;">{{getName()?.length}}/100</span> <span *ngIf="(getName()?.length || 0) > 100" style="color:red;">{{getName()?.length}}/100</span>  </label>
            <input type="text" 
                id="fileName" 
                placeholder="New file name" 
                class="form-control" 
                formControlName="fileName"
                name="fileName" value="this.formGroup['fileName'].value"/>
            <div style="margin-top: 1px;">
                <small *ngIf="getName() === ''" style="margin: 0; color: red">Name cannot be empty<br></small>
                <small *ngIf="valid() === false && getName() !== ''" style="margin: 0; color: red">Name already exists in collection<br></small>
            </div>
        </div>
        
        <div class="field">
            <label for="description">New description <span *ngIf="(getDescription()?.length || 0) <= 255" style="color:green;">{{getDescription()?.length}}/255</span> <span *ngIf="(getDescription()?.length || 0) > 255" style="color:red;">{{getDescription()?.length}}/255</span> </label>
            <textarea type="text" 
                id="description" 
                placeholder="New description" 
                class="form-control" 
                formControlName="description"
                name="description"></textarea>
        </div>

        <div class="field">
            <label for="algorithm">Move to an existing collection</label>
            <div>
                <button id="algorithm" mat-raised-button [matMenuTriggerFor]="algorithmMenu">{{this.formGroup.controls['newCollection'].value?.substring(0, 30)}}<span *ngIf="(this.formGroup.controls['newCollection'].value?.length || 0) > 30" >...</span> <mat-icon>collections</mat-icon></button>
                <mat-menu #algorithmMenu="matMenu" id="coll-list">
                    <button mat-menu-item *ngFor="let coll of collectionResources" (click)="setNewCollection(coll.collectionDTO.name || '')">{{coll.collectionDTO.name?.substring(0, 55)}}<span *ngIf="(coll.collectionDTO.name?.length || 0) > 55">...</span> </button>
                </mat-menu>
            </div>
        </div>

        <div class="field">
            <label for="secretToEmbed">New secret to embed</label>
            <textarea type="text" id="secretToEmbed" placeholder="Secret to embed" class="form-control" formControlName="secretToEmbed"
                        name="secretToEmbed"></textarea>      
            <div style="margin-top: 1px;">
                <small style="margin: 0; color: rgb(112, 84, 6);"><i class="fa-solid fa-triangle-exclamation" style="color: rgb(112, 84, 6);"></i> Warning! If you type another secret, the embedded one will be lost!<br></small>
            </div>    
        </div>

        <div class="buttons">
            <button class="step-button" mat-button (click)="onCloseDialog()" [disabled]="disabledCancel">Cancel</button>
            <button *ngIf="disabled === false" class="step-button" mat-button (click)="editResource()" [disabled]="valid() === false || validNames() === false">Save</button>
            <button *ngIf="valid() === true && disabled === true" class="step-button" mat-button (click)="editResource()" [disabled]="disabled">Updating...</button>
        </div>
    
    </div>
</div>

<p-toast  
    [showTransitionOptions]="'500ms'" 
    [hideTransitionOptions]="'1000ms'" 
    [life]="2000"
    [position]="'top-center'">
</p-toast>